export CASE_NAME=case_name
export JOB_NAME=testtest
export HOME_DIR=${PWD}
export WORK_DIR=/wrk/misumi/roms_out/${CASE_NAME}
export ROMS_SRC_DIR=/wrk/misumi/roms_src/ROMS-BEC/ROMS-BEC-0.1.2
export OPT_PARALLEL=on
export D_CODE=160099
export QUE=xs
export N_CPUS=2
export WALL_TIME=24:00:00

cp template.h $CASE_NAME.h
cp template_001.in $CASE_NAME\_001.in

if [ "${OPT_PARALLEL}" = "on" ]; then
  export PGM=oceanM
else
  export PGM=oceanS
fi

if [ ! -e ${WORK_DIR} ]; then
  mkdir -p ${WORK_DIR}
else
  echo "Warning: WORK_DIR (${WORK_DIR}) is aleardy exist."
fi

if [ ! -e ${WORK_DIR}/bin ]; then
  mkdir -p ${WORK_DIR}/bin
fi
if [ ! -e ${WORK_DIR}/log ]; then
  mkdir -p ${WORK_DIR}/log
fi
if [ ! -e ${WORK_DIR}/in ]; then
  mkdir -p ${WORK_DIR}/in
fi
if [ ! -e ${WORK_DIR}/out ]; then
  mkdir -p ${WORK_DIR}/out
fi
