export CASE_NAME=`echo ${PWD##*/}`
export JOB_NAME=testtest
export HOME_DIR=${PWD}
export WORK_DIR=/wrk/misumi/roms_out/${CASE_NAME}
export ROMS_SRC_DIR=/wrk/misumi/roms_src/ROMS-BEC/v0.1.1
export OPT_PARALLEL=on
export D_CODE=160099
export QUE=xs
export N_CPUS=2
export WALL_TIME=24:00:00

if [ "${OPT_PARALLEL}" = "on" ]; then
  export PGM=oceanM
else
  export PGM=oceanS
fi

if [ ! -e ${WORK_DIR} ]; then
  mkdir -p ${WORK_DIR}
else
  echo "Warning: WORK_DIR (${WORK_DIR}) is aleardy exist."
fi

if [ ! -e ${WORK_DIR}/bin ]; then
  mkdir -p ${WORK_DIR}/bin
fi
if [ ! -e ${WORK_DIR}/log ]; then
  mkdir -p ${WORK_DIR}/log
fi
if [ ! -e ${WORK_DIR}/in ]; then
  mkdir -p ${WORK_DIR}/in
fi
if [ ! -e ${WORK_DIR}/out ]; then
  mkdir -p ${WORK_DIR}/out
fi

export CASE_NAME=`echo $CASE_NAME | sed -e 's/\./\_/g'`

if [ ! -e $CASE_NAME.h ]; then
  echo "Copying HEADER file from templete."
  cp template.h $CASE_NAME.h
fi
if [ ! -e $CASE_NAME\_001.in ]; then
  echo "Copying IN file from templete."
  cp template_001.in $CASE_NAME\_001.in
fi

echo
echo "CASE_NAME   : $CASE_NAME"
echo "JOB_NAME    : $JOB_NAME"
echo "WORK_DIR    : $WORK_DIR"
echo "ROMS_SRC_DIR: $ROMS_SRC_DIR"
echo "OPT_PARALLEL: $OPT_PARALLEL"
echo "D_CODE      : $D_CODE"
echo "QUE         : $QUE"
echo "N_CPUS      : $N_CPUS"
echo "WALL_TIME   : $WALL_TIME"
echo
